<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.inchans.alfkoreansearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>ED7ADA66-8BF2-4877-A51A-71B5F004E305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC091CE6-E547-49F4-B4DF-3F4FF9FFD098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>inchans</string>
	<key>description</key>
	<string>우리말샘 사이트에서 어휘 찾기</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>우리말샘 어휘 찾기</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://opendict.korean.go.kr/search/searchResult?focus_name_top=query&amp;query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BC091CE6-E547-49F4-B4DF-3F4FF9FFD098</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>k</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Running</string>
				<key>script</key>
				<string>/usr/bin/env python3 korean_search.py "{query}" </string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>우리말샘에서 어휘 검색... {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED7ADA66-8BF2-4877-A51A-71B5F004E305</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>우리말샘 사이트 자동완성 워크플로우입니다.

우리말샘 사이트의 본 주소는 https://opendict.korean.go.kr 입니다.</string>
	<key>uidata</key>
	<dict>
		<key>BC091CE6-E547-49F4-B4DF-3F4FF9FFD098</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>ED7ADA66-8BF2-4877-A51A-71B5F004E305</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
    <string>{{VERSION_INFO}}</string>
    <key>webaddress</key>
    <string>https://github.com/inchanS/AlfKoreanSearch.git</string>
</dict>
</plist>
